*{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Lora", Georgia, serif;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 100px; /* bottom = footer height */
  border: none;
  background: #ECE9E6; 
  background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  
  background: linear-gradient(to right, #FFFFFF, #ECE9E6); 
  text-align: center;
}