#Tooltip{
  position: absolute;
  left: 0;
  bottom: 0;
  height: 10px;
  width: 100%;
  overflow:hidden;
  margin: 0 auto;
  text-align: center;
  background: rgba(222, 222, 222, 0.35);
  transition: background 0.25s linear;
  -webkit-transition: background 0.25s linear;
  padding: 0.4em 0px;
}

#Tooltip p{
  font-size: 10px;
}

#iconsAndImages{
  position: relative;
  margin: 0 auto;
}

#showHide{
  position: relative;
  top: -10px;
  cursor: pointer;
  left: 4px;
  padding: 10px;
  margin: 0px;
  background: rgba(222, 222, 222, 0.35);
}

#showHide p{
  margin: 0px;
}

#credits{
  position: absolute;
  right: 0;
  top: 0px;
}

#credits p{
  margin: 0.8em;
  padding: 0px;
}

#credits p a{
  text-decoration: none;
  color: black;
  border-bottom: 1px solid rgb(66, 66, 66);
}

.tooltipOption{
  display: inline-block;
  margin: 0px 2.4em;
}

.tooltipImage{
  width: 65px;
  opacity: 0.7;
}